[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
logzero = "*"
websockets = "*"

[dev-packages]
isort = "*"
yapf = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "python -m pylint --fail-under=8 ./silex_client"
unit = "python -m pytest -s"
format = "yapf silex_client --recursive --verbose"
