[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
silex-client = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
lint = "python -m pylint --fail-under=8 ./silex_client"
unit = "python -m pytest"
format = "yapf silex_client --recursive --verbose"
doc_unix = "sphinx-apidoc --separate --force -o ./docs/source/pages ./silex_client && cd ./docs && make html && cd .."
doc_win = "sphinx-apidoc --separate --force -o ./docs/source/pages ./silex_client && ./docs/make.bat html"
